* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center; 
    margin-top: 2rem;
}
    
body {
    background-color: #1a1a1a !important;
    color: #61DAFB !important;
}

.users {
    margin-top: 2rem !important;
}

.users:hover {
    transition: background-color 0.3s ease;
    opacity: 0.8;
    background-color: gray
}