* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body {
  background-color: #1a1a1a !important;
  color: #61DAFB !important;
}

a {
  text-decoration: none !important;
  color: #61DAFB !important;
}

a:hover {
  background-color: #FA8305;
}